:root {
	--white: #fff;
	--gray: #eeeeee;
}

.navbar-brand:hover {
	background-color: var(--white);
}

.nav-link.active,
.nav-link:hover,
.dropdown-item:active,
.dropdown-item:hover {
	background-color: var(--gray);
}

.nav-link,
.dropdown-item {
	transition: 0.5s ease;
}

.footer-text {
	font-size: 0.8em;
}

body {
	opacity: 1;
	transition: 1s opacity;
}

body.fade {
	opacity: 0;
	transition: none;
}

.hero {
	max-height: 1000px;
}