:root {
	--white: #fff;
	--gray: #eeeeee;
	--dropdown-anim: 0.3s;
}

.nav-link.active,
.nav-link:hover,
.dropdown-item:active,
.dropdown-item:hover {
	background-color: var(--gray);
}

.nav-link {
	transition: 0.5s ease;
}

.footer-text {
	font-size: 0.8em;
}

body {
	opacity: 1;
	transition: 1s opacity;
}

body.fade {
	opacity: 0;
	transition: none;
}

.hero {
	max-height: 1000px;
}

/* dropdown animation */
.dropdown .dropdown-menu {
	-webkit-transition: all var(--dropdown-anim);
	-moz-transition: all var(--dropdown-anim);
	-ms-transition: all var(--dropdown-anim);
	-o-transition: all var(--dropdown-anim);
	transition: all var(--dropdown-anim);

	max-height: 0;
	display: block;
	overflow: hidden;
	opacity: 0;
}

.dropdown.show .dropdown-menu {
	max-height: 200px;
	opacity: 1;
}

@media only screen and (max-width: 600px) {
	figure-caption {
		font-size: 0.6em;
	}
}