:root {
	--white: #fff;
	--gray: #eeeeee;
}

.navbar-brand:hover {
	background-color: var(--white);
}

/* testing only */
.border {
	border: 1px solid orangered;
}

caption {
	color: var(--gray);
}

.navbar-light .navbar-nav .nav-link {
	display: inline;
	transition: 0.3s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	background-color: var(--gray);
}

.navbar-light .navbar-nav .nav-link .dropdown-menu .dropdown-item {
	display: inline;
}

.navbar-nav .dropdown-item.active,
.navbar-nav .dropdown-item:hover {
	background-color: var(--gray);
}

.footer-text {
	font-size: 0.8em;
}